.container{
    display: grid;
    grid-template-rows: 400px auto ;
}

.history{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.tile{
    width: 10rem;
    height: 10rem;
    background-color: #ccc;
    padding: .5rem;

    &:hover{
        cursor: pointer;
        background-color: #aeaeae;
    }
}