.container{
    display: grid;
    grid-template-rows: 400px auto ;
}

.history{
  display: flex;
  flex-direction: column;  

  & > div{
    padding: 1rem;
  }
}
.tileWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}
.tile{
    width: 10rem;
    height: 10rem;
    background-color: #ccc;
    position: relative;

    &:hover{
        cursor: pointer;
    }
    &.active{
        & .subtitle{
            background-color: rgba(141, 41, 194, 0.5);
        }
    }

    .subtitle{
        position:absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        z-index: 5;
        font-size: .75rem;
        padding: .5rem;
        display: flex;
        flex-direction: column;
    }
}